

/*首页主体*/
.main{margin-right: 350px;height: 100px;padding:30px;}
.m-box{margin-bottom:30px;}
.m-box-hd{border-bottom:2px solid #146eb4;height: 40px;}
.m-box-hd h2{font-size: 16px;line-height:40px;height:40px;font-weight: 700;color:#146EB4;}
.m-box-hd .more{line-height: 40px;font-size: 14px;font-weight: 700;}
.m-box-bd{padding-left: 10px;}
.m-box-bd h3{font-size: 14px;font-weight: 700;color:#146eb4;}
.m-box-bd p{text-indent: 1.2em;font-size: 14px;}

.news li{height: 30px;line-height: 30px;}


/*分页*/
.pageNav{font-size: 14px;overflow: hidden;}
.pageNav a{float:left;border: 1px solid #146eb4;line-height: 1.5;margin-right:5px;text-align: center;}
.pageNav .hd,.pageNav .prev,.pageNav .next,.pageNav .last{padding:0 4px;}
.pageNav .page{width:20px;}