h1 欢迎来到虞上将的个人博客，个人网站，这里记录了我的前端学习历程
div.header 
	h2.title 一个yu 的个人网站
		small 前端码农，用于学习，并非技术博客，同时也欢迎同行来交流
	div.navBar.cl
		ul.nav.fl
			li 
				a(href="\\") 首页
			li 
				a(href="\\") 前端
			li 
				a(href="\collect") 收藏
			li 
				a(href="#") Demos