h1 欢迎来到虞上将的个人博客，个人网站，这里记录了我的前端学习历程
div.header 
	h2.title yu的个人网站
		small 前端码农一枚，学习nodejs时搞的一个网站。有空写写文章，做点记录。
	div.navBar.cl
		ul.nav.fl
			li 
				a(href="/") 首页
			li 
				a(href="/article/list/1") 前端
			li 
				a(href="/news/collect/list") 收藏
			//- li 
			//- 	a(href="#") Demos
		if user
			a(href="/user/logout").log [注销]
			span.user 欢迎您&nbsp;#{user.name}
		else
			a(href="/login").log [登录]