doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="renderer" content="webkit")
		title #{webTitle}&nbsp;一个yu的个人网站
		link(rel="shortcut icon" href="/images/favicon.ico")
		block css
		script.
			var _hmt = _hmt || [];
			(function() {
			  var hm = document.createElement("script");
			  hm.src = "//hm.baidu.com/hm.js?a6f9df15340fb3c9497b249869a13793";
			  var s = document.getElementsByTagName("script")[0]; 
			  s.parentNode.insertBefore(hm, s);
			})();
	body
		include header
		block content
		include footer
		block js