div.sideBar.fr 
	div.box
		div.box-hd 搜索
		form.search
			input.text(type='text')
			input.btn(type="submit" value="站内搜索")
		form.search
			input.text(type='text')
			input.btn(type="submit" value="百度搜索")
	div.box
		div.box-hd 关于我
		div.bd.aboutMe
	div.box
		div.box-hd 文章分类
		div.bd.tags
	div.box
		div.box-hd 热门文章
		div.bd.hot
	div.box
		div.box-hd 最新文章
		div.bd