extends layout/layout
block css
	link(rel="stylesheet" href="../assets/css/base.css")
	link(rel="stylesheet" href="../assets/css/index.css")
block js
	script(src="../assets/js/common/require.js" data-main="../assets/js/index.js")

block content