extends layout/layout
block css
	link(rel="stylesheet" href="/css/common.css")
	link(rel="stylesheet" href="/css/index.css")
block js
	script(src="/js/common/Custom.js")

block content
	include layout/sidebar
	.main !{content}#{createAt}
