doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="renderer" content="webkit")
		title 谢梓妤，点击查看虞上将最后想对你说的话...
	body 骗你的~我还有一辈子的话要和你说。 你点击了我就知道你打开链接啦，嘻嘻，快回我信息~
